

.logo{
    width: 100%;   /* Imposta la larghezza al 100% del contenitore */
    max-width: 100px; /* Imposta una larghezza massima */
    height: 100px;  /* Mantiene il rapporto di proporzione */
    border-radius: 50px;
    margin-left: 10vh;
}

/* login e registrazione */
/* Impostazioni del contenitore dell'immagine */
.position-relative {
    position: relative;
    width: 100%;
    height: 100vh; /* Altezza dell'intera viewport */
    overflow: hidden;
}

/* L'immagine di sfondo */
img.img-fluid {
    object-fit: cover; /* Copre tutto lo schermo senza deformarsi */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}


/* Stile dei testi e input del form e register*/
.form-control {
    background-color: rgba(255, 255, 255, 0.8); /* Input semi-trasparente */
}

.text-white {
    color: white;
}

.img-fluid {
    position: absolute; /* Posizionamento assoluto per l'immagine */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Mantiene l'immagine proporzionata */
    z-index: 1; /* immagine  sotto il testo */
}

/* Sovrapposizione del form */
.form-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centra il form */
    z-index: 2; /* Posiziona il form sopra l'immagine */
    background: rgba(0, 0, 0, 0.5); /* Sfondo semi-trasparente per il form */
    padding: 30px;
    border-radius: 50px;
    width: 100%;
    max-width: 400px; /* Larghezza massima del form */
}

/* Sovrapposizione del form */
.form-overlay-edit {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%); /* Centra il form */
    z-index: 2; /* Posiziona il form sopra l'immagine */
    background: rgba(0, 0, 0, 0.1); /* Sfondo semi-trasparente per il form */
    padding: 10px;
    border-radius: 50px;
    width: 100%;
    max-width: 350px; /* Larghezza massima del form */
}

/* Sovrapposizione del form */
.form-overlay-home {
    position: absolute;
    top: 11%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centra il form */
    z-index: 2; /* Posiziona il form sopra l'immagine */
    background: rgba(0, 0, 0, 0.5); /* Sfondo semi-trasparente per il form */
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 900px; /* Larghezza massima del form */
}

/* Sovrapposizione del form */
.form-overlay-welcome {
    position: absolute;
    top: 13%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centra il form */
    z-index: 2; /* Posiziona il form sopra l'immagine */
    background: rgba(0, 0, 0, 0.5); /* Sfondo semi-trasparente per il form */
    padding: 25px;
    border-radius: 50px;
    width: 100%;
    max-width: 540px; /* Larghezza massima del form */
}

/* Sovrapposizione del form */
.form-overlay-create {
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translate(-50%, -50%); /* Centra il form */
    z-index: 2; /* Posiziona il form sopra l'immagine */
    background: rgba(0, 0, 0, 0.5); /* Sfondo semi-trasparente per il form */
    padding: 10px;
    border-radius: 50px;
    width: 100%;
    max-width: 300px; /* Larghezza massima del form */
}
 
.form-overlay-welcome-guest {
    position: absolute;
    top: 13%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centra il form */
    z-index: 2; /* Posiziona il form sopra l'immagine */
    background: rgba(0, 0, 0, 0.5); /* Sfondo semi-trasparente per il form */
    padding: 25px;
    border-radius: 50px;
    width: 100%;
    max-width: 670px; /* Larghezza massima del form */
}